/** POSITIONING **/
.pos-r {
  position: relative;
}

/** BOX MODEL **/
.d-flex {
  display: flex;
}

.w-350 {
  width: 350px;
}

.mt-60 {
  margin-top: 60px;
}

.mr-30 {
  margin-right: 30px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-170 {
  margin-bottom: 170px;
}

/** TYPOGRAPHY **/
.ta-c {
  text-align: center;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-34 {
  font-size: 34px;
}

.fs-36 {
  font-size: 36px;
}

.td-n {
  text-decoration: none;
}

/** DECOTRATION **/
.bg-white {
  background-color: var(--white-color);
}

.bg-light {
  background-color: var(--light-color);
}

.bg-primary-dark {
  background-color: var(--primary-dark-color);
}

.bg-brown {
  background-color: var(--brown-color);
}

.txt-white {
  color: var(--white-color);
}

.txt-primary {
  color: var(--primary-color);
}

.txt-primary-dark {
  color: var(--primary-dark-color);
}

.txt-dark-transparent {
  color: var(--dark-transparent-color);
}

.txt-blue {
  color: var(--blue-color);
}

.txt-black {
  color: var(--black-color);
}

.shadow {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.ovx-h {
  overflow-x: hidden;
}
