/** POSITIONING **/
.pos-a {
  position: absolute;
}

.pos-r {
  position: relative;
}

.t-0 {
  top: 0;
}

/** BOX MODEL **/
.bxz-bb {
  box-sizing: border-box;
}

.d-blk {
  display: block;
}

.d-flex {
  display: flex;
}

.fw-w {
  flex-wrap: wrap;
}

.jc-sb {
  justify-content: space-between;
}

.jc-c {
  justify-content: center;
}

.ai-c {
  align-items: center;
}

.fxg-1 {
  flex-grow: 1;
}

.h-50 {
  height: 50px;
}

.h-525 {
  height: 525px;
}

.h-425 {
  height: 425px;
}

.miw-70 {
  min-width: 70px;
}

.w-350 {
  width: 350px;
}

.w-1110 {
  width: 1110px;
}

.m-0 {
  margin: 0;
}

.m-a {
  margin: auto;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mr-30 {
  margin-right: 30px;
}

.mt-0 {
  margin-top: 0;
}

.mt-22 {
  margin-top: 22px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-100 {
  margin-top: 100px;
}

.p-15 {
  padding: 15px;
}

.pt-55 {
  padding-top: 55px;
}

.pt-100 {
  padding-top: 100px;
}

.pr-75 {
  padding-right: 55px;
}

.pb-55 {
  padding-bottom: 55px;
}

.pl-8 {
  padding-left: 8px;
}

.pl-52 {
  padding-left: 52px;
}

/** TYPOGRAPHY **/
.ta-c {
  text-align: center;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-18 {
  font-size: 18px;
}

.fs-36 {
  font-size: 36px;
}

.fs-52 {
  font-size: 52px;
}

.fs-64 {
  font-size: 64px;
}

.fw-b {
  font-weight: bold;
}

/** DECOTRATION **/
.bg-white {
  background-color: var(--white-color);
}

.bg-white-transparent {
  background-color: var(--white-transparent-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-light {
  background-color: var(--light-color);
}

.bg-primary-dark {
  background-color: var(--primary-dark-color);
}

.bg-dark {
  background-color: var(--dark-color);
}

.bg-dark-transparent {
  background-color: var(--dark-transparent-color);
}

.bg-brown {
  background-color: var(--brown-color);
}

.bg-blue {
  background-color: var(--blue-color);
}

.txt-white {
  color: var(--white-color);
}

.txt-white-transparent {
  color: var(--white-transparent-color);
}

.txt-light {
  color: var(--light-color);
}

.txt-primary {
  color: var(--primary-color);
}

.txt-primary-dark {
  color: var(--primary-dark-color);
}

.txt-dark {
  color: var(--dark-color);
}

.txt-dark-transparent {
  color: var(--dark-transparent-color);
}

.txt-brown {
  color: var(--brown-color);
}

.txt-blue {
  color: var(--blue-color);
}

.txt-black {
  color: var(--black-color);
}

.shadow {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.bd-n {
  border: none;
}

.ol-n {
  outline: none;
}
