@import "./palette.css";
@import "./atomic.css";
@import "./fonts.css";

/** CSS STYLE **/
body {
  margin: 0;
  padding: 0;
}

.bg::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: "";
}

.btn {
  display: inline-block;

  padding: 12px 24px;

  color: var(--white-color);
  font-weight: bold;

  text-decoration: none;
}

.col {
  flex: 0 1 100%;
}

.container {
  width: 1110px;
  margin: auto;
  padding: 100px 0;
}

.hdr-72 {
  font-size: 72px;
}

.hdr-60 {
  font-weight: normal;
  font-size: 60px;
  line-height: 1.1em;
}

.hdr-34 {
  font-size: 34px;
}

.logo {
  position: absolute;
  top: 0;
  right: -270px;

  height: 525px;
}

.video {
  margin-bottom: -200px;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}
