@import "./normalize.css";
@import "./palette.css";
@import "./atomic.css";
@import "./fonts.css";

/** CSS STYLE **/
.bg-questions::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: "";
}

.card {
  display: inline-block;
  box-sizing: border-box;
  width: 350px;
  margin-bottom: 20px;
  padding: 24px;

  color: var(--dark-color);

  background-color: var(--light-color);
}

.card-number {
  margin-bottom: 40px;

  color: var(--primary-dark-color);

  font-size: 64px;

  line-height: 1em;
}

.card-title {
  margin-bottom: 4px;

  color: var(--primary-color);

  font-weight: normal;

  font-size: 34px;
}

.card:hover {
  background-color: var(--primary-color);
}

.card:hover * {
  color: var(--white-color);
}

.col {
  flex: 1 0 0;
}

.container {
  width: 1110px;
  margin: auto;
  padding: 100px 0;
}

.input {
  flex-grow: 1;
  box-sizing: border-box;
  height: 50px;
  margin-bottom: 8px;
  padding: 15px;

  font-size: 18px;

  border: none;
}

.section-header {
  margin-bottom: 8px;

  font-size: 24px;
}

.section-subheader {
  box-sizing: border-box;
  margin: 100px 0 20px 0;
  padding: 4px 8px;

  font-weight: bold;

  font-size: 14px;
  line-height: 1.6em;
  text-transform: uppercase;
}

.section-image {
  width: 540px;
  height: 405px;
}

.send-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 70px;
  height: 50px;

  background-color: var(--primary-color);
  border: none;

  cursor: pointer;
}

.send-button::before {
  width: 24px;
  height: 24px;

  content: url("../images/send.svg");
}

.video {
  width: 919px;
  height: 569px;
  margin-bottom: -200px;

  border: 0;
}
